
  .accordionWidget {
    position: relative;
	padding: 9px;
	margin-top: 35px;
  	overflow: hidden;

    	border: 1px solid #bababa;
    border: 1px solid rgba( 233, 233, 233, 0.8 );
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    
    box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -webkit-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -moz-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -o-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
}

@media all and (min-width : 1300px) {
	.accordionWidget {
    		max-width: 795px;
    		 height: 642px;
  	}
 }
@media all and (max-width : 1300px) {
  .accordionWidget {
     width: 410px;
     height: 1120px;
  }
}

.accordionWidgetInnerBox {
	position:absolute;
	left:8px;
	top:8px;

    	border: 1px solid #bababa;
    border: 1px solid rgba( 233, 233, 233, 0.8 );
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    
    box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -webkit-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -moz-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -o-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );

    overflow: hidden;
}

@media all and (min-width : 1300px) {
	.accordionWidgetInnerBox {
		width: 775px;
		height: 624px;
	}
}

@media all and (max-width : 1300px) {
	.accordionWidgetInnerBox {
		width: 390px;
		height: 1100px;
	}
}

.accordionWidgetDetails, .accordionWidgetFillups, .accordionWidgetReminders, .bar {
	position: absolute;
	    overflow: hidden;
}
.accordionWidgetDetails {
	background-color: #bbb;
	background-image: url(http://localhost:3000/images/details-pane.jpg);
	-webkit-transition: left 0.7s; /* Safari */
    	transition: left 0.7s;
}
.accordionWidgetFillups {
	background-color: #999;
	background-image: url(http://localhost:3000/images/fillups-pane.jpg);
	-webkit-transition: left 0.7s; /* Safari */
    	transition: left 0.7s;
}
.accordionWidgetReminders {
	background-color: #777;
	background-image: url(http://localhost:3000/images/reminders-pane.jpg);
	-webkit-transition: left 0.7s; /* Safari */
    	transition: left 0.7s;
}

.fillupsLeft {
	left: 50px;
}
.remindersLeft {
	left: 100px;
}
@media all and (min-width : 1300px) {
	.remindersRight {
		left:720px;
	}
	.fillupsRight {
		left:674px;
	}
}
@media all and (max-width : 1300px) {
	.remindersRight {
		left:355px;
	}
	.fillupsRight {
		left:320px;
	}
}
@media all and (min-width : 1300px) {
	.accordionWidgetDetails, .accordionWidgetFillups, .accordionWidgetReminders {
		width: 676px;
		height: 624px;
	}
	.bar {
		width: 40px;
		height: 624px;
	}
}

@media all and (max-width : 1300px) {
	.accordionWidgetDetails, .accordionWidgetFillups, .accordionWidgetReminders {
		width: 342px;
		height: 1100px;
	}
	.bar {
		width: 50px;
		height: 1100px;
	}
}

.fillups-reminders-view {
	margin-top: 40px;
	margin-left: 40px;
}
.display button {
	margin-right: 10px;
	margin-bottom: 20px;
	width: 90px;
	background-color: #67949b;
	-webkit-transition: background-color 0.5s; /* Safari */
    	transition: background-color 0.5s;
}
.display button:hover {
	background-color: #87b4bb;
}
.display-label, .editor .editor-label
{
    text-transform: uppercase;	
    font-size: 13px;
    margin-bottom: -10px;
}
.display .display-field
{
    overflow: hidden;
}
.display-field.wrap
{
    word-wrap: break-word; 
    white-space: normal;
    
    text-overflow: clip;
    -o-text-overflow: clip;
}

.vehicleStatistics{
	float: left;
	margin-top: 45px;
	margin-left: 40px;
}
.vehicleStatistics .statistics-header{
	font-size: 25px;
	margin-bottom: -5px;
	top: 35px;
	left: 40px;
	text-align: center;
}
.vehicleData {
	float: left;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom:25px;
}

.editCarForm {
	position: absolute;
	width: 250px;
}
.editCarForm .btn {
	background-color: Orange;
	-webkit-transition: background-color 0.5s; /* Safari */
    	transition: background-color 0.5s;
}
.editCarForm .btn:hover {
	background-color: Gold;
}

.chart {
	1background-image: url(http://localhost:3000/images/paper-small.jpg)
}
.carTabReminders {
	margin-top: 20px;
}