#vehicles {
  clear: both;
}
.vehicle
{
    clear: both;
    position: relative;
    display: inline-block;
    max-width: 17em;
    margin-right: 2em;
    margin-top: 2em;
    width: 240px;
    
    overflow: hidden;
    padding: 9px;

    text-align: center;
    
    background-color: #bbb;
    background: rgba( 233, 233, 233, 0.6 );
    border: 1px solid #bababa;
    border: 1px solid rgba( 233, 233, 233, 0.8 );
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    
    box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -webkit-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -moz-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -o-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    
    z-index: 0;
}

.car-stats {
  background-color: #bbb;
}

.vehicle .header
{
    cursor: move;
    background-image: url(http://localhost:3000/images/title-background.png);
    position: relative;
    height: 46px;
}

.vehicle .header .glass
{
    background-image: url(http://localhost:3000/images/title-glass.png);
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.vehicle .header .overlay
{
    background-image: url(http://localhost:3000/images/title-hover.png);
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    
    opacity: 0;
    visibility: hidden;

    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
}

.vehicle .header:hover .overlay
{
    opacity: 1;
    visibility: visible;

    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
}

.newVehicle {
  height: 46px;
  background-image: url(http://localhost:3000/images/title-glass.png);
  cursor: pointer;
  margin-bottom: 70px;
  box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -webkit-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -moz-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
    -o-box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.4 ), inset 0px 0px 10px rgba( 233, 233, 233, 0.4 );
}
.vehicle .addVehicle {
  position: absolute;
  top: 10px;
  left: 65px;
}

.vehicle .header .data-model
{
    line-height: 1em;
    font-size: 13px;
    
    position: absolute;
    top: 3px;
    left: 7px;
    right: 7px;
    
    padding-bottom: 0.3em;
    
    z-index: 3;
}

.vehicle .header .data-name
{
    line-height: 1em;
    font-family: "Segoe UI Light";
    font-size: 25px;
    
    height: 30px;
    
    position: absolute;
    top: 15px;
    bottom: -1px;
    left: 5px;
    right: 5px;
    
    z-index: 1;
    padding-bottom: 4px;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.vehicle .middleSection {
  position: relative;
  background-color: #777;
  padding: 4px;
  height: 118px;
}

.car_buttons {
  position: absolute;
  left: 120px;
  top: 4px;
}
.car_buttons button {
  display: block;
  position: relative;
  text-align: center;
  width:97px;
  height: 35px;
  margin-left: auto;
  margin-right:0;
  margin-bottom: 3px;
  background-color: #67949b;
  background-image: url(http://localhost:3000/images/command-background.jpg);

  box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.6 );
  -webkit-box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.6 );
  -moz-box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.6 );
  -o-box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.6 );
}
.car_buttons button .glass {
  position: absolute;
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  background-image: url(http://localhost:3000/images/command-glass.png); 
}
.car_buttons button .hover
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-image: url(http://localhost:3000/images/command-hover.jpg);
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.4s linear;
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
}
.car_buttons button:hover .hover
{
    visibility: visible;
    opacity: 1;
    
    transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
}
.car_buttons button  .details, .fillups, .reminders {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}
.car_buttons button  .details {
    background-image: url(http://localhost:3000/images/command-details.png);
}
.car_buttons button  .fillups {
    background-image: url(http://localhost:3000/images/command-fillups.png);
}
.car_buttons button  .reminders {
    background-image: url(http://localhost:3000/images/command-reminders.png);
}
.car_buttons .active
{
    background-image: url(http://localhost:3000/images/command-active.jpg);
}
.car_buttons button :active .active
{
    visibility: visible;
    opacity: 1;
}

.car_image {
   position:absolute;
    left: 4px;
}

.car-stats {
  clear: both;
  background-color: #ccc;
}
.unit {
  font-size: 16px;
}
.Km_Per_Liter {
  float: left;
  text-align: right;
  width: 120px;
}
.Km_Per_Liter  .unit {
  text-align:right;
  margin-top: -20px;
  margin-right: 15px;
}
.Km_Per_Liter .quantity
{
    font-size: 96px;
    line-height: 75px;
    text-align: center;  
    margin-top: 13px;
}

.vehicle .Cost-Per-Km {
  float: left;
  text-align:left;
  margin-bottom: -8px
}
.vehicle .Cost-Per-Month
{
    float: left;
    text-align:left;
}
.Cost-Per-Km .unit {
  margin-top:  -15px;
}
.Cost-Per-Month .unit {
   margin-top:  -15px;
}
.vehicle .Cost-Per-Month .quantity, .vehicle .Cost-Per-Km .quantity
{
    font-size: 30px;
    line-height: 26px;
}

@media screen and (max-width: 768px) {
  .smHScrollLgVScroll {
      overflow-x: auto;
      white-space: nowrap;
  }
  .HScrollEntry {
      display: inline-block;
      float: none; 	/* Very important */
  }
}
